.links_card_wrapper {
    display: flex;
    padding: 1rem;
    border-radius: 8px;
}

.links_card_container {
    padding: 1rem 2.5rem;
    border-radius: 8px;
    background-color: var(--color-bg-card);
    width: 240px;
    max-height: 80px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
}

.links_card_container:hover {
    scale: 1.02;
}


.links_card_container:hover .links_card_title {
    color: var(--color-accent-hover);
}

.links_card_container:active {
    scale: 0.9;
}

.links_card_avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 1rem;
}

.links_card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    gap: 0.5rem;
    overflow: hidden; /* 防止内容溢出 */
}

.links_card_title {
    font-size: calc(var(--font-size-medium) - 4px);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-primary);
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.links_card_subtitle {
    font-size: calc(var(--font-size-small) + 2px);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-secondary);
    text-decoration: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease;
}
