.background_text {
    font-size: calc(var(--font-size-page-title) * 2);
    font-family: var(--font-family-mono);
    font-weight: 700;
    font-style: italic;
    color: var(--color-common-accent-stroke);
    opacity: 0.4;
    z-index: -1;
    user-select: none;
}

.background_text_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 1600px;
    min-height: 800px;
    pointer-events: none;
    z-index: -1;
}

.background_bg_top {
    position: absolute;
    top: 80px;
    left: 10%;
    transition: all 0.3s ease;
    animation: topFadeIn 0.5s ease-in-out;
}

.background_bg_bottom {
    position: absolute;
    bottom: 0;
    right: 10%;
    transition: all 0.3s ease;
    animation: bottomFadeIn 0.5s ease-in-out;
}

@keyframes topFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 0.4;
        transform: translateY(0);
    }
}

@keyframes bottomFadeIn {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 0.4;
        transform: translateY(0);
    }
}


@media (max-width: 1024px) {
    .background_text_wrapper {
        max-width: 100%;
        overflow: hidden;
    }

    .background_bg_top {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: none;
    }

    .background_bg_bottom {
        display: none;
    }
}

@media (max-width: 768px) {
    .background_bg_top {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: none;
    }

    .background_bg_bottom {
        display: none;
    }
}
