.footer_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-accent, rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(10px);
    z-index: 1000;
    color: white;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none;
}

.footer_miit a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: var(--font-size-main);
}

@media (max-width: 1024px) {
    .footer_container {
        display: none;
    }

    .footer_wrapper {
        display: none;
    }

}
